sudo: false

language: ruby

rvm:
  - 2.3.3

cache: bundler
script: bundle exec middleman build
deploy:
  provider: s3
  access_key_id: $AWS_ACCESS_KEY_ID
  secret_access_key: $AWS_SECRET_ACCESS_KEY
  bucket: $AWS_BUCKET_NAME
  skip_cleanup: true
  local_dir: build
  on:
    branch: master
    tags: true
